.account-list-renderer {
    -avatar-outer-color: gray;
    -avatar-inner-color: white;
    -account-name-color: black;    
    -app-key-color: lightgray;
    -fx-padding: 6px;
    -fx-hgap: 6px;
    -fx-vgap: 6px;
}
.account-list-renderer:GuildWars2 {    
    -avatar-outer-color: -game-gw2-color;
    -account-name-color: -game-gw2-color;
}
.account-list-renderer:HeartOfThorns {    
    -avatar-outer-color: -game-hot-color;
    -account-name-color: -game-hot-color;
}
.account-list-renderer:PathOfFire {    
    -avatar-outer-color: -game-pof-color;
    -account-name-color: -game-pof-color;
}
.account-list-renderer:PlayForFree {    
    -avatar-outer-color: -game-free-color;
    -avatar-inner-color: -game-free-color;
    -account-name-color: -game-free-color;
}
.account-list-renderer:None {    
    -avatar-outer-color: -game-none-color;
    -avatar-inner-color: -game-none-color;
    -account-name-color: -game-none-color;
}
.account-list-renderer .avatar-container { 
    -fx-padding: 2px;
    -fx-background-color: -avatar-outer-color, -avatar-inner-color;
    -fx-background-insets: 0px, 2px;
    -fx-background-radius: 24px;
    -fx-min-width: 48px;
    -fx-min-height: 48px;
    -fx-pref-width: 48px;
    -fx-pref-height: 48px;
    -fx-max-width: 48px;
    -fx-max-height: 48px;
}
.account-list-renderer .avatar {
    -fx-background-size: stretch;
}
.account-list-renderer:GuildWars2 .avatar {
    -fx-background-image: url("../../../images/logos/gw2-small.jpg");
}
.account-list-renderer:HeartOfThorns .avatar {
    -fx-background-image: url("../../../images/logos/hot-small.jpg");
}
.account-list-renderer:PathOfFire .avatar {
    -fx-background-image: url("../../../images/logos/pof-small.jpg");
}
.account-list-renderer .account-name-label {
    -fx-text-fill: -account-name-color;
    -fx-font-size: 1.0em;
    -fx-font-weight: bold;
    -fx-wrap-text: true;
}
.account-list-renderer .app-key-label {
    -fx-text-fill: -app-key-color;
    -fx-font-size: 0.65em;
    -fx-wrap-text: true;
}
