.wvw-summary-pane {
    -fx-hgap: 6px;
    -fx-vgap: 6px;
    -fx-padding: 6px;
}
.wvw-summary-pane .pie-hbox {
    -fx-spacing: 6px;
}
/* WvW bar charts. */
.wvw-summary-pane .wvw-bar-chart {
    -fx-bar-gap: 0px;
    -fx-category-gap: 0px;
}
.wvw-summary-pane .wvw-bar-chart .default-color0.chart-bar { -fx-bar-fill: -team-green-color; }
.wvw-summary-pane .wvw-bar-chart .default-color1.chart-bar { -fx-bar-fill: -team-blue-color; }
.wvw-summary-pane .wvw-bar-chart .default-color2.chart-bar { -fx-bar-fill: -team-red-color; }
/* WvW pie charts. */
.wvw-summary-pane .wvw-pie-chart {    
    -fx-start-angle: 90;
    -fx-pie-label-visible: false;
    -fx-padding: 3px;
}
.wvw-summary-pane .wvw-pie-chart .chart-pie { 
    -fx-background-insets: 0px;
    -fx-border-color: null; 
}
.wvw-summary-pane .wvw-pie-chart .default-color0.chart-pie { -fx-pie-color: -team-blue-color; }
.wvw-summary-pane .wvw-pie-chart .default-color1.chart-pie { -fx-pie-color: -team-green-color; }
.wvw-summary-pane .wvw-pie-chart .default-color2.chart-pie { -fx-pie-color: -team-red-color; }

