.item-renderer {    
    -fx-padding: 6px;
    -icon-outer-color: gray;
    -icon-inner-color: lightgray;
    -item-name-color: black;
    -item-description-color: cornflowerblue;
}
.item-renderer:Fine {
    -item-name-color: cyan;    
}
.item-renderer:Masterwork {
    -item-name-color: green;    
}
.item-renderer:Rare {
    -item-name-color: gold;    
}
.item-renderer:Exotic {
    -item-name-color: orange;    
}
.item-renderer:Ascended {
    -item-name-color: fushcia;    
}
.item-renderer:Legendary {
    -item-name-color: purple;    
}
.item-renderer .icon-container {
    -fx-background-color: -icon-outer-color, -icon-inner-color;
    -fx-background-insets: 0px, 2px;
    -fx-min-width: 48px;
    -fx-min-height: 48px;
    -fx-pref-width: 48px;
    -fx-pref-height: 48px;
    -fx-max-width: 48px;
    -fx-max-height: 48px;
}
.item-renderer .name-label {
    -fx-text-fill: -item-name-color;
    
}
.item-renderer #descriptionFlow {
    -fx-text-alignment: justify;
}
.item-renderer .description-label {
    -fx-fill: -item-description-color;
}