.specialization-editor {
    -base-color: gray;
    -trait-color: derive(-base-color, 60%);
    -trait-outer-border: derive(-base-color, -50%);
    -trait-inner-border: derive(-trait-color, 75%);
    -trait-hover-color: derive(-base-color, 90%);
    -trait-selected-color: derive(-base-color, 85%);
    -connector-color: white;
    -fx-background-color: black, -base-color;
    -fx-background-insets: 0px, 1px;
    -fx-min-width: 647px;
    -fx-min-height: 136px;
    -fx-pref-width: 647px;
    -fx-pref-height: 136px;
    -fx-max-width: 647px;
    -fx-max-height: 136px;
}
.specialization-editor .elite-marker {
    -fx-opacity: 0.33;
    -fx-border-color: gold, gold;
    -fx-border-width: 2px, 1px;
    -fx-border-insets: 3px 3px 3px 15px, 8px 8px 8px 20px;
}
.specialization-editor .button {
    -fx-background-color: -trait-outer-border, -trait-inner-border, -trait-color;
    -fx-background-insets: 0px, 2px, 4px;
    -fx-shape: "m -227.13341,229.55813 -4,2.3 -4,-2.3 0,-4.6188 4,-2.3 4,2.3 z";
    -fx-min-width: 75px;
    -fx-min-height: 85px;
    -fx-pref-width: 75px;
    -fx-pref-height: 85px;
    -fx-max-width: 75px;
    -fx-max-height: 85px;
}
.specialization-editor .button:hover {
    -trait-color: -trait-hover-color;
}
.specialization-editor .button:pressed {
    -trait-color: -trait-selected-color;
}
.specialization-editor .trait {
    -fx-background-color: -trait-outer-border, -trait-inner-border, -trait-color;
    -fx-background-insets: 0px, 2px, 4px;
    -fx-min-width: 32px;
    -fx-min-height: 32px;
    -fx-pref-width: 32px;
    -fx-pref-height: 32px;
    -fx-max-width: 32px;
    -fx-max-height: 32px;
}
.specialization-editor .minor {
    -fx-shape: "m -227.13341,229.55813 -4,2.3 -4,-2.3 0,-4.6188 4,-2.3 4,2.3 z";
    -fx-min-width: 27px;
    -fx-pref-width: 27px;
    -fx-max-width: 27px;
}
.specialization-editor .adept:selected, 
.specialization-editor .master:selected,
.specialization-editor .grand-master:selected {
    -trait-color: -trait-selected-color;
}
.specialization-editor .minor:hover,
.specialization-editor .adept:hover, 
.specialization-editor .master:hover,
.specialization-editor .grand-master:hover {
    -trait-color: -trait-hover-color;
}
.specialization-editor .connector {
    -fx-stroke: -connector-color;
    -fx-stroke-width: 2px;
}

