@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/fontawesome-webfont.ttf');    
}
.root {
    -fx-font-family: "Arial" ;
    -strong-text-color: firebrick;
    -red-team-color: crimson;
    -green-team-color: green;
    -blue-team-color: dodgerblue;
}
.debug {
    -fx-border-color: red;
    -fx-border-width: 1px;
}
#GridPane {
    -fx-hgap: 3px;
    -fx-vgap: 3px;
}
#VBox {
    -fx-spacing: 6px;
}
#HBox {
    -fx-alignment: baseline-center;
    -fx-spacing: 6px;
}
#TextFlow {
    -fx-text-alignment: justify;
}
.text-area {
    -fx-background-color: null;
    -fx-background-radius: 0px;
    -fx-border-color: gray;
}
.text-area .content {
    -fx-background-color: null;
}
.table-view {
    -fx-background-color: null;
    -fx-border-color: gray;
}
/* UI. */
.strong-label {
    -fx-text-fill: -strong-text-color;
    -fx-font-weight: bold;
    -fx-font-size: 1.5em;
}
.message {
    -fx-font-size: 1.2em;
}
.message #Text {
    -fx-fill: derive(gray, -30%);
}
.message #Text:strong {
    -fx-fill: -strong-text-color;
    -fx-font-weight: bold;
}
.message #Hyperlink,
.message #Hyperlink:visited {
    -fx-padding: 0px;
    -fx-border-width: 0px;
}
.message #Hyperlink:strong {
    -fx-text-fill: -strong-text-color;
    -fx-font-weight: bold;
}
.top-bar {
    -fx-alignment: baseline-center;
    -fx-padding: 6px;
    -fx-border-color: derive(-fx-background, -10%);
    -fx-border-width: 0px 0px 1px 0xp;
}
.primary-button {
    -fx-font-size: 2em;
}
.good-button {
    -fx-base: green;
}
.bad-button {
    -fx-base: red;
}
.delete-knob {
    -fx-font-family: "FontAwesome";    
    -fx-font-size: 1.5em;
    -fx-font-weight: bold;
    -fx-background-radius: 25px;
    -fx-padding: 3.5 6 5 7;
}
.awesome-button,
.awesome-icon,
.awesome-menu-button > .label {
    -fx-font-family: "FontAwesome";
    -fx-font-size: 2.2em;
}
/* Token info permissions. */
.permission-label {
    -fx-font-size: 0.9em;
    -fx-text-fill: gray;
}
.permission-label .permission-icon {
    -fx-text-fill: -strong-text-color;    
}
.account-icon {
    -fx-font-size: 5em;
    -fx-text-fill: -strong-text-color;
}
/* Guild emblems. */
.guild-emblem {
    -fx-background-color: gray, lightgray;
    -fx-background-insets: 0, 1;
    -fx-pref-width: 75;
    -fx-pref-height: 75;
}
/**/
.container-pane {
    -fx-padding: 6px;
}
/* Account button popup. */
.account-button .custom-menu-item {
    -fx-background-color: transparent;
}
.account-button .custom-menu-item #VBox .list-view:focused {
    -fx-background-color: -fx-box-border, -fx-control-inner-background;
    -fx-background-insets: 0, 1;
    -fx-padding: 1;
}
.account-list-cell {
    -fx-font-size: 0.9em;
}
.account-list-cell:odd {
    -fx-background-color: -fx-control-inner-background;
}
.account-list-cell:GuildWars2,
.account-info-pane:GuildWars2 {
    -strong-text-color: firebrick;
}
.account-list-cell:HeartOfThorns,
.account-info-pane:HeartOfThorns {
    -strong-text-color: green;
}
.account-list-cell > * > .strong-label {
    -fx-font-size: 1.2em;
}
.account-list-cell > * > .app-key-label {
    -fx-font-size: 0.75em;
    -fx-opacity: 0.33;
    -fx-wrap-text: true;
}
/* Account info pane. */
.account-info-pane {
}
.account-info-pane > * > CheckBox:disabled {
    -fx-opacity: 1.0;
}
.account-info-pane > * > FlowPane {
    -fx-hgap: 6px;
    -fx-vgap: 3px;
}
/* Guild info pane. */
/* WvW charts. */
.wvw-bar-chart {    
}
.wvw-bar-chart .default-color0.chart-bar { -fx-bar-fill: -blue-team-color; }
.wvw-bar-chart .default-color1.chart-bar { -fx-bar-fill: -green-team-color; }
.wvw-bar-chart .default-color2.chart-bar { -fx-bar-fill: -red-team-color; }
.wvw-pie-chart {    
}
.wvw-pie-chart .default-color0.chart-pie { -fx-pie-color: -blue-team-color; }
.wvw-pie-chart .default-color1.chart-pie { -fx-pie-color: -green-team-color; }
.wvw-pie-chart .default-color2.chart-pie { -fx-pie-color: -red-team-color; }