@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/fontawesome-webfont.ttf');    
}
.root {
    -fx-font-family: "Arial" ;
    -fx-font-size: 1.2em;
    -strong-text-color: firebrick;
    -game-gw2-color: firebrick;
    -game-hot-color: green;
    -profession-elementalist-color: derive(deeppink, -10%);
    -profession-engineer-color: derive(yellow, -10%);
    -profession-guardian-color: derive(dodgerblue, -10%);
    -profession-mesmer-color: magenta;
    -profession-necromancer-color: derive(darkgreen, -30%);
    -profession-ranger-color: derive(greenyellow, -30%);
    -profession-revenant-color: derive(red, -20%);
    -profession-thief-color: derive(orangered, -35%);
    -profession-warrior-color: derive(orange, -10%);
    -team-red-color: crimson;
    -team-green-color: green;
    -team-blue-color: dodgerblue;
}
.debug {
    -fx-border-color: red;
    -fx-border-width: 1px;
}
#GridPane {
    -fx-hgap: 3px;
    -fx-vgap: 3px;
}
#VBox {
    -fx-spacing: 6px;
}
#HBox {
    -fx-alignment: baseline-left;
    -fx-spacing: 6px;
}
#TextFlow {
    -fx-text-alignment: justify;
}
.text-area {
    -fx-background-color: null;
    -fx-background-radius: 0px;
    -fx-border-color: gray;
}
.text-area .content {
    -fx-background-color: null;
}
.table-view {
    -fx-background-color: null;
    -fx-border-color: gray;
}
/* UI. */
.strong-label {
    -fx-text-fill: -strong-text-color;
    -fx-font-weight: bold;
    -fx-font-size: 1.5em;
}
.message {
    -fx-font-size: 1.2em;
}
.message #Text {
    -fx-fill: derive(gray, -30%);
}
.message #Text:strong {
    -fx-fill: -strong-text-color;
    -fx-font-weight: bold;
}
.message #Hyperlink,
.message #Hyperlink:visited {
    -fx-padding: 0px;
    -fx-border-width: 0px;
}
.message #Hyperlink:strong {
    -fx-text-fill: -strong-text-color;
    -fx-font-weight: bold;
}
.primary-button {
    -fx-font-size: 1.35em;
}
.good-button {
    -fx-base: green;
}
.bad-button {
    -fx-base: red;
}
.flat-button {
    -fx-background-color: transparent;
    -fx-text-fill: -fx-focus-color;
}
.delete-knob {
    -fx-font-family: "FontAwesome";    
    -fx-font-size: 1.5em;
    -fx-font-weight: bold;
    -fx-background-radius: 0px;
}
.awesome-button,
.awesome-icon,
.awesome-menu-button > .label {
    -fx-font-family: "FontAwesome";
    -fx-font-size: 2.2em;
}
/* Greeting screen. */
.greeting-pane {
    -fx-padding: 20px;
    -fx-hgap: 8px;
    -fx-vgap: 8px;
}
.greeting-button {
    -fill-color: firebrick;
    -fx-wrap-text: true;
    -fx-text-alignment: center;
    -fx-font-size: 1.4em;
    -fx-background-color: -fill-color;
    -fx-background-radius: 0px;
    -fx-pref-width: 175px;
    -fx-pref-height: 175px;
    -fx-content-display: bottom;
    -fx-text-fill: ladder(-fill-color, white 49%, black 50%);
}
.greeting-button:armed {
    -fx-background-color: derive(-fill-color, -30%);
}
.greeting-button .awesome-icon {
    -fx-font-size: 4.5em;
    -fx-text-fill: ladder(-fill-color, white 49%, black 50%);
}
.greeting-button:account {
    -fill-color: lightcoral;
    -fx-pref-width: 250px;
    -fx-pref-height: 175px;
}
/* Token info permissions. */
.permission-label {
    -fx-font-size: 0.9em;
    -fx-text-fill: gray;
}
.permission-label .permission-icon {
    -fx-text-fill: -strong-text-color;    
}
.account-icon {
    -fx-font-size: 5em;
    -fx-text-fill: -strong-text-color;
}
/* Guild emblems. */
.guild-emblem {
    -fx-background-color: gray, lightgray;
    -fx-background-insets: 0, 1;
    -fx-pref-width: 75;
    -fx-pref-height: 75;
}
/**/
.container-pane {
    -fx-padding: 6px;
}
/* Account button popup. */
.account-button .custom-menu-item {
    -fx-background-color: transparent;
}
.account-button .custom-menu-item #VBox .list-view:focused {
    -fx-background-color: -fx-box-border, -fx-control-inner-background;
    -fx-background-insets: 0, 1;
    -fx-padding: 1;
}
.account-list-cell {
    -strong-text-color: black;
    -fx-font-size: 1.0em;
}
.account-list-cell,
.account-list-cell:odd {
    -fx-background-color: -fx-control-inner-background;
}
.account-list-cell:GuildWars2 {
    -fx-background-image: url("../images/cell/cell-background-gw2.jpg");
    -fx-background-position: bottom left;
    -fx-background-repeat: no-repeat;
}
.account-list-cell:GuildWars2,
.account-info-pane:GuildWars2 {
    -strong-text-color: -game-gw2-color;
}
.account-list-cell:HeartOfThorns {
    -fx-background-image: url("../images/cell/cell-background-hot.jpg");
    -fx-background-position: bottom left;
    -fx-background-repeat: no-repeat;
}
.account-list-cell:HeartOfThorns,
.account-info-pane:HeartOfThorns {
    -strong-text-color: -game-hot-color;
}
.account-list-cell > * > .strong-label {
    -fx-font-size: 1.2em;
    -fx-wrap-text: true;
}
.account-list-cell > * > .app-key-label {
    -fx-text-fill: gray;
    -fx-font-size: 0.75em;
    -fx-wrap-text: true;
}
/* Account info pane. */
.account-info-pane {
}
.account-info-pane > * > CheckBox:disabled {
    -fx-opacity: 1.0;
}
.account-info-pane > * > FlowPane {
    -fx-hgap: 6px;
    -fx-vgap: 3px;
}
/* Guild info pane. */
/* WvW charts. */
.wvw-bar-chart {    
}
.wvw-bar-chart .default-color0.chart-bar { -fx-bar-fill: -team-blue-color; }
.wvw-bar-chart .default-color1.chart-bar { -fx-bar-fill: -team-green-color; }
.wvw-bar-chart .default-color2.chart-bar { -fx-bar-fill: -team-red-color; }
.wvw-pie-chart {    
}
.wvw-pie-chart .default-color0.chart-pie { -fx-pie-color: -team-blue-color; }
.wvw-pie-chart .default-color1.chart-pie { -fx-pie-color: -team-green-color; }
.wvw-pie-chart .default-color2.chart-pie { -fx-pie-color: -team-red-color; }
/* Character list cells. */
.character-list-cell > * > .strong-label {
    -fx-text-fill: black;
} 
.character-list-cell:Elementalist {
    -base-color: derive(-profession-elementalist-color, 80%);
}
.character-list-cell:Engineer {
    -base-color: derive(-profession-engineer-color, 80%);
}
.character-list-cell:Guardian {
    -base-color: derive(-profession-guardian-color, 80%);
}
.character-list-cell:Mesmer {
    -base-color: derive(-profession-mesmer-color, 80%);
}
.character-list-cell:Necromancer {
    -base-color: derive(-profession-necromancer-color, 80%);
}
.character-list-cell:Ranger {
    -base-color: derive(-profession-ranger-color, 80%);
}
.character-list-cell:Revenant {
    -base-color: derive(-profession-revenant-color, 80%);
}
.character-list-cell:Thief {
    -base-color: derive(-profession-thief-color, 80%);
}
.character-list-cell:Warrior {
    -base-color: derive(-profession-warrior-color, 80%);
}
/* Specialization editor. */
.specialization-editor:Elementalist {
    -base-color: -profession-elementalist-color;
}
.specialization-editor:Engineer {
    -base-color: -profession-engineer-color;
}
.specialization-editor:Guardian {
    -base-color: -profession-guardian-color;
}
.specialization-editor:Mesmer {
    -base-color: -profession-mesmer-color;
}
.specialization-editor:Necromancer {
    -base-color: -profession-necromancer-color;
}
.specialization-editor:Ranger {
    -base-color: -profession-ranger-color;
}
.specialization-editor:Revenant {
    -base-color: -profession-revenant-color;
}
.specialization-editor:Thief {
    -base-color: -profession-thief-color;
}
.specialization-editor:Warrior {
    -base-color: -profession-warrior-color;
}
/* PvP League division pane. */ 
.season-pane {
    -fx-alignment: center;
}
.season-pane #bottomGridPane {
    -fx-hgap: 35px;
}
.season-pane .h1 {
    -fx-alignment: center;
    -fx-text-fill: khaki;
    -fx-font-size: 2.0em;
}
.season-pane .h2 {
    -fx-alignment: center;
    -fx-text-fill: khaki;
    -fx-font-size: 1.3em;
}
.season-pane .message {
    -fx-alignment: center;
    -fx-text-fill: gray;
}
/* Coins. */
.coin-label {    
    -fx-fill: -coin-color;
}
.coin {
    -fx-background-color: derive(-coin-color, -20%), derive(-coin-color, 50%), -coin-color;
    -fx-background-radius: 7px, 6px, 5px;
    -fx-background-insets: 0px, 1px, 2px;
    -fx-padding: 6px;
    -fx-translate-y: 5px;
}
.coin-label:gem,
.coin:gem {    
    -coin-color: cornflowerblue;
}
.coin-label:gold,
.coin:gold {    
    -coin-color: derive(gold, -20%);
}
.coin-label:silver,
.coin:silver{    
    -coin-color: silver;
}
.coin-label:copper,
.coin:copper{    
    -coin-color: chocolate;
}
/* Welcome view. */
.welcome-view .top-bar {
    -fx-alignment: baseline-center;
    -fx-padding: 6px;
    -fx-border-color: derive(-fx-background, -10%);
    -fx-border-width: 0px 0px 1px 0xp;
}
